.wrapper {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.image {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 0.06255rem solid #dde0e4;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.name {
  flex: 1;
}

.delete {
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}